name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:

  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Connect via SSH and deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          ENV_PATH: .env.prod
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/omgg-website
            echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            # Pull the latest image
            docker compose -f docker-compose.prod.yml pull
            
            # Stop previous container
            docker stop omgg-website || true
            docker rm omgg-website || true
            docker compose -f docker-compose.prod.yml down --remove-orphans
            
            # Remove unused images (without impacting volumes)
            docker image prune -af
            
            # Restart services
            docker compose --env-file ${{ env.ENV_PATH }} -f docker-compose.prod.yml up -d
